# If rewrite module exists
<IfModule mod_rewrite.c>
	# Turn on rewrite engine
	RewriteEngine On

	# Handle thumbnail requests for missing thumbnails
	RewriteCond %{REQUEST_URI} \.(jpg|jpeg|png|gif|JPG|JPEG|PNG|GIF)$
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule (.*) thumb.php [L]
</IfModule>

# If expires module exists
<IfModule mod_expires.c>
    # Set expires header to 1 year
    ExpiresActive On
	ExpiresByType image/jpeg A31536000
	ExpiresByType image/png A31536000
	ExpiresByType image/gif A31536000
	ExpiresByType image/svg+xml A31536000
	ExpiresByType image/x-icon A31536000
</IfModule>
